# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [76]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error,accuracy_score,balanced_accuracy_score,precision_score,recall_score,f1_score,confusion_matrix

## Regression Model Evaluation

In [77]:
# The variable we want to predict is MEDV

In [78]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [79]:
X.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03

In [80]:
y.head(3)

   MEDV
0  24.0
1  21.6
2  34.7

In [81]:
data.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [82]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [83]:
x_train.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
132,0.59005,0.0,21.89,0.0,0.624,6.372,97.9,2.3274,4.0,437.0,21.2,385.76,11.12
311,0.79041,0.0,9.90,0.0,0.544,6.122,52.8,2.6403,4.0,304.0,18.4,396.90,5.98
384,20.08490,0.0,18.10,0.0,0.700,4.368,91.2,1.4395,24.0,666.0,20.2,285.83,30.63

In [84]:
y_train.head(3)

     MEDV
132  23.0
311  22.1
384   8.8

In [85]:
x_test.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
373,11.10810,0.0,18.10,0.0,0.668,4.906,100.0,1.1742,24.0,666.0,20.2,396.90,34.77
163,1.51902,0.0,19.58,1.0,0.605,8.375,93.9,2.1620,5.0,403.0,14.7,388.45,3.32
467,4.42228,0.0,18.10,0.0,0.584,6.003,94.5,2.5403,24.0,666.0,20.2,331.29,21.32

In [86]:
y_test.head(3)

     MEDV
373  13.8
163  50.0
467  19.1

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [87]:
Lin_reg=LinearRegression()
Lin_reg.fit(x_train,y_train)
y_pred_train=Lin_reg.predict(x_train)
y_pred_test=Lin_reg.predict(x_test)

## 3. Calculate and print R-squared for both the training and the testing set.

In [88]:
r2_score(y_train,y_pred_train)

0.7510285379731287

In [89]:
r2_score(y_test,y_pred_test)

0.6546822752407805

## 4. Calculate and print mean squared error for both the training and the testing set.

In [90]:
mean_squared_error(y_train,y_pred_train)

22.96948500878858

In [91]:
mean_squared_error(y_test,y_pred_test)

18.317909431730822

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [92]:
mean_absolute_error(y_train,y_pred_train)

3.3370739243992555

In [93]:
mean_squared_error(y_test,y_pred_test)

18.317909431730822

## Classification Model Evaluation

In [94]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [95]:
x_train_iri,x_test_iri,y_train_iri,y_test_iri=train_test_split(X,y,test_size=0.2)

In [96]:
x_train_iri.head(3)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
104                6.5               3.0                5.8               2.2
136                6.3               3.4                5.6               2.4
123                6.3               2.7                4.9               1.8

In [97]:
y_train_iri.head(3)

     class
104      2
136      2
123      2

In [98]:
x_test_iri.head(3)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
143                6.8               3.2                5.9               2.3
86                 6.7               3.1                4.7               1.5
111                6.4               2.7                5.3               1.9

In [99]:
y_test_iri.head(3)

     class
143      2
86       1
111      2

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [100]:
Log_reg=LogisticRegression(max_iter=1000)
Log_reg.fit(x_train_iri,y_train_iri)
y_pred_train_iri=Log_reg.predict(x_train_iri)
y_pred_test_iri=Log_reg.predict(x_test_iri)

C:\Users\ak751vt\Anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [101]:
accuracy_score(y_train_iri,y_pred_train_iri)

0.975

In [102]:
accuracy_score(y_test_iri,y_pred_test_iri)

0.9666666666666667

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [103]:
balanced_accuracy_score(y_train_iri,y_pred_train_iri)

0.9743260590500641

In [104]:
balanced_accuracy_score(y_test_iri,y_pred_test_iri)

0.9722222222222222

## 10. Calculate and print the precision score for both the training and the testing set.

In [105]:
precision_score(y_train_iri,y_pred_train_iri,average=None)

array([1.        , 0.97297297, 0.95238095])

In [106]:
precision_score(y_test_iri,y_pred_test_iri,average=None)

array([1. , 1. , 0.9])

## 11. Calculate and print the recall score for both the training and the testing set.

In [107]:
recall_score(y_train_iri,y_pred_train_iri,average=None)

array([1.        , 0.94736842, 0.97560976])

In [108]:
recall_score(y_test_iri,y_pred_test_iri,average=None)

array([1.        , 0.91666667, 1.        ])

## 12. Calculate and print the F1 score for both the training and the testing set.

In [109]:
f1_score(y_train_iri,y_pred_train_iri,average=None)

array([1.        , 0.96      , 0.96385542])

In [110]:
f1_score(y_test_iri,y_pred_test_iri,average=None)

array([1.        , 0.95652174, 0.94736842])

## 13. Generate confusion matrices for both the training and the testing set.

In [112]:
confusion_matrix(y_train_iri,y_pred_train_iri)

array([[41,  0,  0],
       [ 0, 36,  2],
       [ 0,  1, 40]], dtype=int64)

In [113]:
confusion_matrix(y_test_iri,y_pred_test_iri)

array([[ 9,  0,  0],
       [ 0, 11,  1],
       [ 0,  0,  9]], dtype=int64)

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.